<!DOCTYPE html>
<html lang="it">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Camera Test</title>

<style>

body{
    margin:0;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

video{
    width:100%;
    max-width:500px;
    border-radius:20px;
}

</style>

</head>
<body>

<video
    id="video"
    autoplay
    playsinline
    muted
></video>

<script>

const video = document.getElementById("video")

navigator.mediaDevices.getUserMedia({

    video: {
        facingMode: "environment"
    }

})

.then(stream => {

    video.srcObject = stream

})

.catch(err => {

    alert(err)

    console.log(err)

})

</script>

</body>
</html>